<template>
  <div>
    <div v-if="editor">
      <v-toolbar dense elevation="0" class="no-padding">
        <template v-if="$vuetify.breakpoint.mdAndUp">
          <v-btn-toggle
            v-for="(option, i) in config"
            :key="i"
            dense
            group
            multiple
          >
            <v-btn
              v-for="index in (option.duplicate ? option.items.size : option.items.length)"
              :key="index"
              @click="exec(option, index)"
              :class="isActive(option, index)"
              text
            >
              <v-icon>{{ getIcon(option, index) }}</v-icon>
            </v-btn>

            <div v-if="i < config.length - 1" class="mx-2"></div>
            <v-btn
              v-else
              @click="addImage"
              text
            >
              <v-icon>mdi-image-outline</v-icon>
            </v-btn>
          </v-btn-toggle>
        </template>
      </v-toolbar>
    </div>
    <editor-content :editor="editor"/>
  </div>
</template>

<script>
import {Editor, EditorContent} from '@tiptap/vue-2'
import StarterKit from '@tiptap/starter-kit'
import Image from '@tiptap/extension-image'

export default {
  name: "sample-tiptap",
  components: {
    EditorContent,
  },
  data() {
    return {
      editor: null,
      config: [
        {
          name: 'style',
          duplicate: false,
          pref: 'toggle',
          items: [
            {value: 'bold', iconSuf: 'format-bold'},
            {value: 'italic', iconSuf: 'format-italic'},
            {value: 'strike', iconSuf: 'format-strikethrough'},
            {value: 'codeBlock', iconSuf: 'code-not-equal-variant'},
            {value: 'blockquote', iconSuf: 'comment-quote'},
          ]
        },
        {
          name: 'textSize',
          duplicate: true,
          pref: 'toggle',
          items: {size: 2, value: 'heading', iconPref: 'format-header-'},
        },
        {
          name: 'list',
          duplicate: false,
          pref: 'toggle',
          items: [
            {value: 'bulletList', iconSuf: 'format-list-bulleted'},
            {value: 'orderedList', iconSuf: 'format-list-numbered'},
          ]
        },
        {
          name: 'sets',
          duplicate: false,
          pref: 'set',
          items: [
            {value: 'paragraph', iconSuf: 'format-paragraph'},
            {value: 'horizontalRule', iconSuf: 'minus'},
            {value: 'hardBreak', iconSuf: 'format-page-break'},
          ]
        },
        {
          name: 'actions',
          duplicate: false,
          pref: '',
          items: [
            {value: 'unsetAllMarks', iconSuf: 'format-pilcrow'},
            {value: 'clearNodes', iconSuf: 'format-clear'},
            {value: 'undo', iconSuf: 'arrow-u-left-bottom'},
            {value: 'redo', iconSuf: 'arrow-u-right-bottom'},
          ]
        },
      ],
    }
  },

  methods: {
    analyze: function (option, index) {
      return option.duplicate
        ? {
          method: option.items.value,
          param: {level: index}
        }
        : {
          method: option.items[index - 1].value,
          param: {}
        }
    },
    getIcon: function (option, index) {
      return option.duplicate
        ? `mdi-${option.items.iconPref ?? ''}${index}${option.items.iconSuf ?? ''}`
        : `mdi-${option.items[index - 1].iconPref ?? ''}${option.items[index - 1].iconSuf ?? ''}`
    },
    exec: function (option, index) {
      let env = this.analyze(option, index)
      let method = option.pref === '' || option.pref === null || option.pref === undefined
        ? env.method
        : this.capitalize(env.method)

      // Execute method
      this.editor.chain().focus()[`${option.pref ?? ''}${method}${option.suf ?? ''}`](env.param).run()
    },
    isActive: function (option, index) {
      let env = this.analyze(option, index)

      return this.editor.isActive(env.method, env.param)
        ? 'active-control-on'
        : 'active-control-off'
    },
    capitalize: function (string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    addImage() {
      const url = window.prompt('URL')

      if (url) {
        this.editor.chain().focus().setImage({src: url}).run()
      }
    },
  },

  mounted() {
    this.editor = new Editor({
      content: '<p>I’m running Tiptap with Vue.js. 🎉</p>',
      extensions: [
        StarterKit,
        Image
      ],
    })
  },

  beforeDestroy() {
    this.editor.destroy()
  },
}
</script>

<style scoped>

</style>

<style scoped>
.active-control-on {
  opacity: 1 !important;
}

.active-control-off {
  opacity: 0.5 !important;
}
</style>
