<template>
  <div>
    <client-only>
      <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
    </client-only>
  </div>
</template>

<script>
export default {
  name: "sample-ckeditor",
  data() {
    return {
      editor: null,
      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
        simpleUpload: {
          uploadUrl: 'http://localhost:8000/api/upload/ckAndTiny',
          withCredentials: false,
        },
      }
    }
  },

  created() {
    if (process.client) {
      this.editor = this.$classicEditor;
    }
  }
}
</script>
