<template>
  <editor
    :api-key="apiKey"
    :init="config"
    v-model="content"
  />
</template>

<script>
import Editor from "@tinymce/tinymce-vue";

export default {
  name: "sample-tiny-mce",
  components: {
    'editor': Editor,
  },
  data() {
    return {
      apiKey: 'jd3d9dwjjqr0tn5e6skhq7trbft0sn1c0jedy6cawa4h241l',
      config: {
        height: 500,
        menubar: 'file edit view insert format tools table tc help',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak table autoresize',
        automatic_uploads: true,
        file_picker_types: 'image',
        images_upload_url: 'http://localhost:8000/api/upload/ckAndTiny'
      },
      content: ''
    }
  }
}
</script>
