<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">CKEditor 5</h3>
      <sample-ckeditor style="color: black;"></sample-ckeditor>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'ck-editorPage',
}

</script>
