<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">EditorJS</h3>
      <sample-editor style="background: white"></sample-editor>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'editorPage',
}

</script>
