<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">QuillJS Editor</h3>
      <sample-quill></sample-quill>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'quillPage',
}

</script>
