<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">TinyMCE</h3>
      <sample-tiny-mce></sample-tiny-mce>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'tiny-mcePage',
}

</script>
