<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">Tiptap</h3>
      <sample-tiptap></sample-tiptap>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'tiptapPage'
}

</script>
