<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">TOAST UI Editor</h3>
      <!-- wysiwyg editor -->
      <TuiEditor mode="wysiwyg" style="background: white"/>

      <!-- markdown viewer -->
      <TuiEditorViewer :value="message" style="background: white"/>

    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "toast-ui-editor",
  data () {
    return { message: '# v1.0.0-beta.3' }
  }
}
</script>
