<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="my-5">Vue2-editor v2.10.3</h3>
      <client-only>
        <VueEditor />
      </client-only>
    </v-col>
  </v-row>

</template>

<script>
export default {
  name: "vue2-editor"
}
</script>
