<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-col class="text-center">
          <img
            src="/lampart-logo.png"
            width=100 px
            alt="lampart"
          >
          <Nuxt />
        </v-col>
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-music-note',
          title: 'QuillJS',
          to: '/quill'
        },
        {
          icon: ' mdi-music-note-bluetooth',
          title: 'EditorJS',
          to: '/editor'
        },
        {
          icon: ' mdi-music-note-bluetooth-off',
          title: 'CKEditor',
          to: '/ck-editor'
        },
        {
          icon: ' mdi-music-note-eighth',
          title: 'Tiptap',
          to: '/tiptap'
        },
        {
          icon: ' mdi-music-note-half',
          title: 'TinyMCE',
          to: '/tiny-mce'
        },
        {
          icon: ' mdi-music-note-off',
          title: 'Vue2 Editor',
          to: '/vue2-editor'
        },
        {
          icon: ' mdi-music-note-quarter',
          title: 'TOAST UI Editor',
          to: '/toast-ui-editor'
        },
        {
          icon: ' mdi-music-note-sixteenth',
          title: 'sample',
          to: '/'
        },
        {
          icon: ' mdi-music-circle',
          title: 'sample',
          to: '/'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Demo Editor'
    }
  }
}
</script>
