<template>
  <quill-editor
    ref="editor"
    v-bind="$attrs"
    v-on="$listeners"
    :options="editorOption"
    class="bg-white"
    @blur="onEditorBlur($event)"
    @focus="onEditorFocus($event)"
    @ready="onEditorReady($event)"
  />
</template>

<script>
export default {
  name: "sample-quill",
  data() {
    return {
      editorOption: {
        // Some Quill options...
        theme: 'snow',
        debug: 'info',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{'header': 1}, {'header': 2}],               // custom button values
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
            [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
            [{'direction': 'rtl'}],                         // text direction

            [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
            [{'header': [1, 2, 3, 4, 5, 6, false]}],

            [{'color': []}, {'background': []}],          // dropdown with defaults from theme
            [{'font': []}],
            [{'align': []}],

            ['clean'],                                         // remove formatting button
            ['image']
          ],
          imageUploader: {
            upload: async (file) => {
              let data = new FormData()
              data.append('file', file)

              return await this.$axios.$post('http://localhost:8000/api/upload', data)
            },
          },
        }
      }
    }
  },

  methods: {
    onEditorBlur(editor) {
      console.log('editor blur!', editor)
    },
    onEditorFocus(editor) {
      console.log('editor focus!', editor)
    },
    onEditorReady(editor) {
      console.log('editor ready!', editor)
    },
  },

  computed: {
    editor() {
      return this.$refs.editor.quill
    },
  },
}
</script>

<style lang="scss" scoped>
.quill-editor {
  max-height: 100%;
  overflow-y: auto;
  color: black;
}

.bg-white {
  background-color: white !important;
}
</style>
